<div class="card-body">
    <h5 class="card-title" (dblclick)="goToDetailsPage()">{{ tally.name }}
        <svg id="i-reload" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
        </svg>
        <span class="float-right">{{ tally.count }}</span></h5>
    <p class="card-text"><span>{{ tally.last | timeAgo }}</span></p>
    <button type="button" (click)="increase()" class="btn btn-outline-light outline-none">
        <svg id="i-chevron-top" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M30 20 L16 8 2 20" />
        </svg>
    </button>
    <button type="button" (click)="decrease()" class="btn btn-outline-light float-right outline-none">
        <svg id="i-chevron-bottom" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M30 12 L16 24 2 12" />
        </svg>
    </button>
</div>