<div class="row">
    <div class="col">
        <div class="col-12 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your tallies</span>
                <span class="badge badge-secondary badge-pill">{{ tallies.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between p-0 border-right-0">
                    <app-tally [tally]="selectedTally" class="card w-100 bg-tally-light"></app-tally>
                </li>
                <li (click)="setSelectedTally(tally)" class="list-group-item d-flex justify-content-between lh-condensed" [ngClass]="{'text-success':tally.uuid === selectedTally.uuid}" *ngFor="let tally of tallies">
                    <div>
                        <h6 class="my-0">
                            <span>{{ tally.name }}</span>
                            <svg id="i-reload" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
                            </svg>
                        </h6>
                        <small *ngIf="tally.last">{{tally.last | timeAgo}}</small>
                        <small *ngIf="!tally.last">Never updated</small>
                    </div>
                    <div>
                        <span>{{ tally.count }}</span><br />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="col">
            <div id="accordion">
                <div class="card">
                    <div class="" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-success btn-block toggle-add-tally-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add tally
              </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <app-add-tally [tallies]="tallies" (callback)="onSave($event)"></app-add-tally>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>